<template>
  <div class="hello">
    <!-- <img src="../assets/plants.png"/> -->
    <div id="popover-target-1" class="plant plant-ext" :style="{ 'backgroundImage': extGradient }">{{extPlantWaterPercentage}}%</div>
    <b-popover target="popover-target-1" triggers="click" placement="top">
      <div class="plant-tooltip">
        <div class="drop" @click="done('ext')">
          <img src="../assets/drop.png">
        </div>
      </div>
    </b-popover>

    <div id="popover-target-2" class="plant plant-int" :style="{ 'backgroundImage': intGradient }">{{intPlantWaterPercentage}}%</div>
    <b-popover target="popover-target-2" triggers="click" placement="top">
      <div class="plant-tooltip">
        <div class="drop" @click="done('int')">
          <img src="../assets/drop.png">
        </div>
      </div>
    </b-popover>

    <div id="popover-target-3" class="plant plant-sensitive" :style="{ 'backgroundImage': sensiGradient }">{{sensiPlantWaterPercentage}}%</div>
    <b-popover target="popover-target-3" triggers="click" placement="bottom">
      <div class="plant-tooltip">
        <div class="drop" @click="done('sensi')">
          <img src="../assets/drop.png">
        </div>
      </div>
    </b-popover>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

const MENU_POS = {
  ext: {
    bottom: '70px',
    right: '270px'
  },
  int: {
    bottom: '70px',
    left: '200px'
  },
  sensi: {
    top: '140px',
    left: '290px'
  }
}

export default {
  name: 'Home',
  components: {
  },
  data () {
    return {
      menuTypePos: 'ext'
    }
  },
  computed: {
    ...mapGetters(['extPlantWaterPercentage', 'intPlantWaterPercentage', 'sensiPlantWaterPercentage']),
    extGradient () {
      return this.makeGradient(this.extPlantWaterPercentage)
    },
    intGradient () {
      return this.makeGradient(this.intPlantWaterPercentage)
    },
    sensiGradient () {
      return this.makeGradient(this.sensiPlantWaterPercentage)
    },
    menuPos () {
      return MENU_POS[this.menuTypePos]
    }
  },
  methods: {
    makeGradient (perc) {
      return 'linear-gradient(0deg, #137cffbf 0%, #137cffbf ' + perc + '%, rgba(20, 179, 211, 0) 0%)'
    },
    done (type) {
      this.$root.$emit('bv::hide::popover')
      this.$store.dispatch('doneStuff', type)
    }
  }
}
</script>

<style scoped lang="scss">
.hello {
  width: 740px;
  height: 580px;
  position: relative;

  background-image: url('../assets/plants.png');
  background-size: 100% 100%;

  // & > img {
  //   width: 650px;
  //   height: 500px;
  //   object-fit: contain;
  // }
}

.plant {
  z-index: 100;
  position: absolute;
  mask-repeat: no-repeat;
  mask-size: contain;
  background: rgb(32, 32, 32);
  box-shadow: 3px 10px 4px 10px #4444dd;

  display:flex;
  justify-content:center;
  align-items:center;

  font-weight: bold;
  color: white;
  font-size: 30px;

}

.plant-int {
  width: 173px;
  height: 148px;
  right: 507px;
  bottom: 22px;
  mask-image: url('../assets/mask-plant-ext.png');
}

.plant-ext {
  width: 174px;
  height: 146px;
  right: 133px;
  bottom: 20px;
  mask-image: url('../assets/mask-plant-ext.png');
}

.plant-sensitive {
  width: 58px;
  height: 80px;
  left: 218px;
  top: 125px;

  mask-image: url('../assets/mask-plant-sensitive.png');

  font-size: 16px;
}

.plant-tooltip {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 150px;
  width: 140px;

  & > div {
    width: 50%;
  }

  .drop {
    width: 100px;
    display:flex;
    justify-content:center;
    align-items:center;

    img {
      width: 100%;
    }
  }
}
</style>
