<template>
  <div class="menage">
    <div class="category">
        <img src="../assets/aspi2.png"/>
        <b-progress :value="aspiPercentage" :max="100" animated></b-progress>
        <b-button @click="done('aspi')" block variant="outline-primary">DONE</b-button>
    </div>

    <div class="category">
        <img src="../assets/bed-sheet.png"/>
        <b-progress :value="bedPercentage" :max="100" animated></b-progress>
        <b-button @click="done('bed')" block variant="outline-primary">DONE</b-button>
    </div>

    <div class="category">
        <img src="../assets/dust.png"/>
        <b-progress :value="dustPercentage" :max="100" animated></b-progress>
        <b-button @click="done('dust')" block variant="outline-primary">DONE</b-button>
    </div>

    <div class="category">
        <img src="../assets/bathroom.png"/>
        <b-progress :value="bathroomPercentage" :max="100" animated></b-progress>
        <b-button @click="done('bathroom')" block variant="outline-primary">DONE</b-button>
    </div>

    <div class="category">
        <img src="../assets/nanoleaf.png"/>
        <b-progress :value="pressagePercentage" :max="100" animated></b-progress>
        <b-button @click="done('pressage')" block variant="outline-primary">DONE</b-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['aspiPercentage', 'bedPercentage', 'dustPercentage', 'bathroomPercentage', 'pressagePercentage'])
  },
  methods: {
    done (type) {
      this.$store.dispatch('doneStuff', type)
    }
  }
}
</script>

<style lang="scss" scoped>
.menage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

  .category {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    flex-basis: 33%;

    .progress {
      overflow: visible;
      height: 2rem;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .btn {
      height: 3rem;
    }

    img {
      width: 100%;
      height: 120px;
      object-fit: contain;
    }
  }
}
</style>
