<template>
  <div class="settings">
    <b-form>
      <label>Fréquences (Every X days)</label>
      <b-row v-for="type in fields" :key="type">
        <label>{{ trads[type] }}</label>
        <b-form-input v-model="data[type].frequency" size="sm" type="number"></b-form-input>
      </b-row>
    </b-form>

    <b-button block variant="outline-primary" @click="save" >SAVE SETTINGS</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['data'])
  },
  data: () => {
    return {
      fields: [
        'ext', 'int', 'sensi', 'bed', 'dust', 'aspi', 'bathroom', 'pressage'
      ],
      trads: {
        ext: 'Plantes extérieures',
        int: 'Plantes extérieures',
        sensi: 'Plantes sensitives',
        bed: 'Changer les draps',
        dust: 'Faire la poussière',
        aspi: 'Passer l\'aspirateur',
        pressage: 'Recoller tableaux/nanoleafs',
        bathroom: 'Nettoyer la salle de bain'
      }
    }
  },
  methods: {
    save () {
      this.$store.dispatch('saveSettings', this.data)
    }
  }
}
</script>

<style lang="scss" scoped>
.settings {
  color: white;
  padding: 30px;
  height: 100%;
  overflow: scroll;

  label {
    margin-bottom: 0;
  }

  .row {
    margin-top: 15px;
  }

  .btn {
    margin-top: 30px;
    height: 60px;
  }
}
</style>
