<template>
  <div id="app">
    <div id="nav">
      <div class="menu-button"><router-link to="/"><img src="./assets/plant.png"></router-link></div>
      <div class="menu-button"><router-link to="/menage"><img src="./assets/vacuum-cleaner.png"></router-link></div>
      <div class="menu-button"><router-link to="/settings"><img src="./assets/cog.png"></router-link></div>
    </div>
    <div class="tab">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.dispatch('load')
  }
}
</script>

<style lang="scss">
html, body, #app {
  font-family: Avenir, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: row;
  background: #031326;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  box-shadow: -4px 0px 14px 3px #07346B;

  .menu-button {
    height: 100px;

    a {
      display:flex;
      justify-content:center;
      align-items:center;
      width: 100%;
      height: 100%;
    }
    box-shadow: -6px 3px 10px -1px #ffffff66;
  }

  .router-link-exact-active {
    background-color: #137cffbf;
  }
}

.tab {
  flex-grow: 1;
}
</style>
